<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rcp.example.app.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="com.rcp.example.app.intro.Perspective"
            id="com.rcp.example.app.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rcp.example.app.application"
            name="%product.name">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="%product.name">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.rcp.example.app.intro">
      </intro>
      <introProductBinding
            introId="com.rcp.example.app.intro"
            productId="com.rcp.example.app.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.rcp.example.app.intro"
            content="introContent.xml"
            id="com.rcp.example.app.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="com.rcp.example.app.configId">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.rcp.example.app.language.commands.category"
            name="Languages">
      </category>
      <command
            categoryId="com.rcp.example.app.language.commands.category"
            id="com.rcp.example.app.language.commands.language"
            name="Language">
         <!-- 创建command参数，用于传递给handlers扩展点的处理类 -->
         <commandParameter
               id="com.rcp.example.app.language.locale"
               name="locale"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!-- 切换RCP应用语言环境的处理器类，并与command相关联 -->
      <handler
            class="com.rcp.example.app.language.LanguageSwitchHandler"
            commandId="com.rcp.example.app.language.commands.language">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!-- 设置语言菜单的位置，当前添加在Help菜单中 -->
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=additions">
         <menu
               id="com.rcp.example.app.language.menus.languages"
               label="Language"
               mnemonic="L">
            <!-- 传递给处理器类的command参数名称与参数值 -->
            <command
                  commandId="com.rcp.example.app.language.commands.language"
                  icon="icons/cn.png"
                  id="com.rcp.example.app.language.menus.zh"
                  label="chinese"
                  style="push">
               <parameter
                     name="com.rcp.example.app.language.locale"
                     value="zh_CN">
               </parameter>
            </command>
            <command
                  commandId="com.rcp.example.app.language.commands.language"
                  icon="icons/us.png"
                  id="com.rcp.example.app.language.menus.us"
                  label="english"
                  style="push">
               <parameter
                     name="com.rcp.example.app.language.locale"
                     value="en">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
