<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rcp.example.module.d.ExtensionPointExample">
      <ElementExample
            booleanAttribute="true"
            javaAttribute="ElementExample1"
            resourceAttribute="plugin.xml"
            stringAttribute="string1"></ElementExample>
      <ElementExample
            booleanAttribute="false"
            javaAttribute="com.rcp.example.module.e.ElementExample2"
            resourceAttribute="plugin.xml"
            stringAttribute="string2"></ElementExample>
   </extension>

</plugin>
