<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <!-- Dao:UserDao -->
    <bean id="userDao" class="com.norcp.example.module.f.dao.impl.UserDaoImpl"></bean>
    
    <!-- Service:HelpService -->
    <bean id="helpService" class="com.norcp.example.module.f.service.impl.UserServiceImpl">
    	<property name="userDao" ref="userDao"/>
    </bean>
</beans>